<div class="panel panel-default" ng-init="showDriver()">
	<div class="panel-heading">
		<p class="panel-title">Driver Details</p>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label class="form-control">Name: {{ driver.name }}</label>
				<label class="form-control">Email: {{ driver.email }}</label>
				<label class="form-control">Driving Status: {{ driver.driving }}</label>
				<a href="#!/drivers" class="btn btn-default">Back</a>
			</div>
		</form>
	</div>
</div>